# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Environment files
.env

# Docker
*.pid

# Power BI / Tableau temp
*.pbix.autosave
*.twb~

python/report.md